* {
  font-family:'Oxanium', sans-serif;;
}

.App {
  text-align: center;
  margin: auto; 
}

.navbar {
  background-color: wheat;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 5px solid #ffff;
}

.navbar h1 {
  font-size: 2em;
  color: red;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
}

.navbar a:hover {
  color: green;
}

.content {
  background-color: beige;
  width: 600px;
  margin: 40px auto;
  padding: 60px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
}

.blog-preview:hover {
  box-shadow: 1px 5px 8px black;
}

.blog-preview h2 {
  font-size: 20px;
  color: red;
  margin-bottom: 8px;
}